@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Clash Display';
	src: url('../public/assets/font/ClashDisplay/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf');
	src: url('../public/assets/font/ClashDisplay/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Medium.otf');
	font-weight: 400;
	font-style: normal;
}

:root{
	--font-clash-display: 'Clash Display'
}

@layer components {
	.wrapper {
	
    @apply mx-auto max-w-screen-tv laptop:px-24 tablet:px-14 laptop:space-y-[107px] space-y-[57px] px-6;
	}

	.tag-padding {
		@apply px-[12px] py-[6px];
	}
	.border-gradient {
		@apply bg-gradient-to-tr from-yellow-0 via-purple-30 to-red-0;
		
	}
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
      .stroked-text {
       -webkit-text-stroke: 1.4px #9E9E9F; /* Stroke width and color */
       -webkit-text-fill-color: transparent; /* Ensures text color is applied */
     } 
    }
  }
